{% extends 'base.html' %}

{% block title %}Add Tag{% endblock %}

{% block content %}



<form method="POST" action="/new/tags">

  <div class="form_container">
    <h1>Create a tag</h1>
    <label for="tag_name" class="col-sm-2 col-form-label d-flex align-items-center">
      Tag Name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="Enter a name for the tag">
    </div>
  </div>


    <div class="button_container">
    
      <button type="button" onclick="window.location.href='/tags'" class="general_aqua_blue">Cancel</button>

     <button type="submit" class="small_submit">Add</button>
    </div>
</form>




<!-- <a href="/tags" class="general_aqua_blue"><button>Cancel</button></a> -->
{% endblock %}





