{% extends "base.html" %}

{% block title %}
Edit Users
{% endblock %}

{% block content %}
<div class="form_container">
    <h1 id="edit_profile">Edit Your Post</h1>
    <form action="/posts/{{ post.id }}/edit" method="POST" enctype="multipart/form-data">
        <div class="form_div">
            <label for="post_title">Post Title:</label>
            <input type="text" id="post_title" placeholder="Place your title" name="title" value="{{ post.title }}" required>
        </div>
        <div class="form_div">
            <label for="post_content">Post Content:</label>
            <input type="text" id="post_content" cols="50" placeholder="Add your post" name="content" value="{{ post.content }}" required>
        </div>
   
        <div class="post_btns">
            <button id="cancel_edit_post" type="button" class="btn btn-secondary" onclick="window.location.href='/posts/{{ post.id }}'">Cancel</button>
            <button id="submit_edit_post" type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock %}







